<header>
    <div class="container">
        <div class="row">
            <div class="col flex-row">
                <img class="mylogo " src="../assets/images/logo.png" alt="">
                <div class="dropdown p-3 d-none d-xl-block">
                    <div class="form-select" data-bs-toggle="dropdown" aria-expanded="false">
                        探索
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <div class="d-flex align-items-center position-relative  d-none d-xl-flex">
                    <span class="search material-symbols-outlined">search</span>
                    <input class="form-control" type="text" placeholder="搜尋各種音樂、數學、程式及設計課程">
                    <button type="button" class="search-btn btn btn-primary">搜尋</button>
                </div>
            </div>
            <div class="col d-flex justify-content-end">
                <div class="position-relative">
                    <div class="head-icon dropdown position-relative user-select-none" data-bs-toggle="dropdown"
                        id="notify">
                        <span class="material-symbols-outlined">notifications</span>
                        <span class="marker"></span>
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="notify">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <div class="position-relative">
                    <div class="head-icon dropdown position-relative user-select-none" data-bs-toggle="dropdown"
                        id="shopcart">
                        <span class="material-symbols-outlined">shopping_cart</span>
                        <span class="marker marker-num">2</span>
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="shopcart">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <a class="login-btn btn btn-primary  d-none d-xl-flex" href="#">登入 / 註冊</a>
                <div class="menu d-xl-none">
                    <span class="material-symbols-outlined">menu</span>
                </div>
            </div>
        </div>
    </div>
</header>