// 自訂變數
$primary: #0068FF; // 自訂主色調

$pimary-10:#E5F4FF;
$pimary-40:#99CFFF;
$pimary-60:#66B1FF;
$pimary-80:#3F95FF;
$pimary-100:#0068FF;
$pimary-120:#003BB7;

$success-10:#D4F9FE;
$success-20:#A9EFFE;
$success-100:#2AAFFC;
$success-120:#1566B5;

$info-10:#F0FCD1;
$info-20:#DDFAA5;
$info-100:#7CD31F;
$info-120:#48970F;

$alert-10:#FFE0D7;
$alert-20:#FFBBB0;
$alert-100:#FF3A55;
$alert-120:#B71D4F;

$neutral-0:#FFFFFF;
$neutral-10:#F9F9F9;
$neutral-40:#ECECEC;
$neutral-60:#808080;
$neutral-80:#4B4B4B;
$neutral-100:#000000;

$border-radius-large: 80px;
$border-radius-small: 12px;
$border-radius-md: 20px;
$border-radius-circle: 100px;
$color-swiper-shadow: rgba($neutral-100, 10%);
$font-family-primary: "Poppins", "Noto Sans TC";
$letter-spacing: 2%;
$padding-all:8px 12px;



// 引入 Bootstrap 原始碼文件
@import"../../../node_modules/bootstrap/scss/bootstrap.scss";