body {
  font-family: $font-family-primary;
}

.container-fluid {
  &.swiper {
    padding: 0;
  }
}

.swiper-slide {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 575px){
    width: 100%;
  }
  .box {
    display: block;
    width: 100%;
    height: 800px;
    object-fit: cover;
    border-radius: $border-radius-large;

    @media (max-width: 1200px) {
      height: 600px;
    }

    @media (max-width: 767px) {
      height: 500px;
    }

    @media (max-width: 575px) {
      height: 400px;
      border-radius: 0;
      padding: 0;
      margin: 0;
    }
  }
}

.swiper-prev2,
.swiper-prev {
  left: -28px;
}

.swiper-next2,
.swiper-next {
  right: -28px;
}

.swiper-prev2,
.swiper-next2,
.swiper-prev,
.swiper-next {
  background: $neutral-0;
  border-radius: $border-radius-small;
  padding: 16px 16px 12px;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 16px);
  display: inline-block;
  z-index: 10;
  box-shadow: 0 10px 15px $color-swiper-shadow;
  transition: all .15s ease-in-out;
}

.swiper-prev2:hover,
.swiper-next2:hover,
.swiper-prev:hover,
.swiper-next:hover {
  background: $pimary-100;
  color: $neutral-0;
}

@media (max-width:575px) {
  .swiper-prev2,
  .swiper-next2,
  .swiper-prev,
  .swiper-next {
    display: none;
  }
}


.slide-title {
	position: absolute;
	bottom: 0;
	left: 0;
	background: $pimary-100;
	color: $neutral-0;
	font-weight: 600;
	border-radius: 0 100px 0px 80px;
	font-size: 40px;
	line-height: 48px;
	letter-spacing: $letter-spacing;
	padding: 32px 80px 32px 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	.material-symbols-outlined {
		font-size: 40px;
		margin-left: 16px;
	}
}

.slide-subtitle {
  padding: 22px 32px;
  background: $neutral-0;
  border-radius: $border-radius-circle;
  position: absolute;
  bottom: 144px;
  left: 40px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: $letter-spacing;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-little {
  padding: $padding-all;
  border-radius: $border-radius-circle;
  background: $pimary-10;
  color: $pimary-100;
  margin-right: 8px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  white-space: nowrap;
}

@media (max-width:1200px) {
  .slide-title {
    padding: 24px 60px;
    font-size: 24px;
    line-height: 30px;
  }

  .slide-title .material-symbols-outlined {
    font-size: 24px;
  }

  .slide-subtitle {
    bottom: 100px;
    left: 24px;
    font-size: 16px;
    padding: 8px 16px;
  }
}

@media (max-width:767px) {
  .slide-title {
    padding: 20px 60px;
    font-size: 16px;
    .material-symbols-outlined {
      font-size: 16px;
    }
  }
  .slide-subtitle {
    bottom: 86px;
    left: 24px;
    right: 24px;
    font-size: 16px;
    padding: $padding-all;
    justify-content: flex-start;
  }
}

@media (max-width:575px) {
  .slide-title {
    width: 100%;
    border-radius: 0;
    font-size: 14px;
    line-height: 16px;
    padding: 16px;
    text-align: center;
    .material-symbols-outlined {
      font-size: 14px;
    }
  }
  .swiper-pagination1.swiper-pagination-clickable {
    bottom: 65px;
  }
  .slide-subtitle {
    padding: 8px 16px;
    bottom: 97px;
    left: 16px;
    right: 16px;
    font-size: 14px;
    line-height: 21px;
    justify-content: flex-start;
  }
}

.swiper-prev {
  left: calc(10% - 16px);
}

.swiper-next {
  right: calc(10% - 16px);
}

.mySwiper .swiper-slide-prev,
.mySwiper .swiper-slide-next {
  opacity: .5;
}

@media (max-width:575px) {

  .swiper-prev,
  .swiper-next {
    padding: 0;
  }

  .swiper-slide-prev,
  .swiper-slide-next {
    margin: 0;
  }
}

.swiper-pagination-bullet-active {
  width: 24px;
  border-radius: 4px;
}

.swiper-pagination1 {
  display: none;
}

@media (max-width:575px) {
  .swiper-pagination1 {
    margin: .5rem auto 0;
    display: flex;
    justify-content: center;
  }
}

.mybtn {
  background: $neutral-0;
  color: $neutral-80;
  border: $neutral-40 1px solid;
  margin: 6px;

}

input[type="radio"] {
	display: none;
  &:checked {
    & + .mybtn {
      background: $pimary-100;
    border: $pimary-100 1px solid;
    color: $neutral-0;
  }
  }
}
.section2 {
	padding: 120px 0;
	width: 100% !important;
	overflow: hidden;
}
.mySwiper2 .card,
.mySwiper1 .card {
	width: 100%;
}
.mySwiper1 {
	width: 100%;
	height: 980px;
	overflow: visible !important;
	.swiper-slide {
		height: calc((100% - 24px) / 2);
	}
}


@media (max-width:991px) {
  .choose-course {
    white-space: nowrap;
    margin: -16px;
    overflow: visible !important;
    overflow-x: scroll !important;
  }

  .more-courses {
    display: none;
  }
}

@media (max-width:767px) {
  .mySwiper1 {
    height: 500px;
  }

  .mySwiper1 .swiper-wrapper {
    width: 100%;
    height: 100%;
  }
}

@media (max-width:991px) {
  .mySwiper1 .swiper-slide {
    height: calc((100% - 24px));
    position: relative;
    top: 24px;
  }
}
.mycourselist3 .card,
.mySwiper2 .card,
.mySwiper1 .card {
  border: unset;
  box-shadow: 0 0 24px $color-swiper-shadow;
  border-radius: $border-radius-md;
}

@media (max-width:767px) {
  .mycourselist3 .card,
  .mySwiper2 .card {
    margin: 24px;
  }

  .mySwiper1 .card {
    margin: 24px;
    position: relative;
    top: 24px;
  }

}

.mySwiper1 .card-head {
  border-radius: 20px 20px 0 0;
  height: 272px !important;
}

.progress {
  margin: 8px 0;
  height: 8px;
}

.progress-bar {
  height: 8px;
  border-radius: 8px;
}

.count-backwards {
  background: $pimary-10;
  color: $pimary-100;
  font-weight: 600;
  padding: $padding-all;
  border-radius: $border-radius-circle;
  position: absolute;
  left: 16px;
  top: 16px;
}

.mycourselist3 h6,
.section2 h6 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: $letter-spacing;
  font-weight: 600;
}

.teacher {
  margin: 8px 0 24px;
}

.teacher-img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.teacher-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: $letter-spacing;
  padding-left: 8px;
}

.price-box {
  display: flex;
  align-items: center;
}

.price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: $letter-spacing;
  padding-right: 8px;
  color: $neutral-100;
}

.original-price {
  text-decoration: line-through 1px solid $neutral-60;
  color: $neutral-60;
}

.single-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.section3 {
  padding: 120px 0;
  width: 100%;
  overflow: hidden;
}

.mySwiper2 {
	overflow: visible;
	.card-head {
		border-radius: 20px 20px 0 0;
		height: 200px !important;
		padding: 20px 16px;
	}
	.hot {
		border-radius: $border-radius-circle;
		padding: $padding-all;
		background: $alert-10;
		color: $alert-100;
		font-weight: 600;
		letter-spacing: $letter-spacing;
		font-size: 14px;
		line-height: 21px;
	}
	.card-foot {
		border-top: 1px solid $neutral-40;
		padding: 16px;
		color: $neutral-80;
		font-size: 14x;
		line-height: 21px;
	}
	.price-box {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
	}
	.price {
		padding-right: 0;
		color: $pimary-100;
	}
	.teacher {
		margin: auto 0;
	}
	.tag {
		font-weight: 400;
		letter-spacing: $letter-spacing;
		padding: 4px 12px;
		margin-bottom: 4px;
		background: $neutral-40;
		border-radius: $border-radius-circle;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
}
.mycourselist3{
	overflow: visible;
	.card-head {
		border-radius: 20px 20px 0 0;
		height: 200px !important;
		padding: 20px 16px;
	}
	.hot {
		border-radius: $border-radius-circle;
		padding: $padding-all;
		background: $alert-10;
		color: $alert-100;
		font-weight: 600;
		letter-spacing: $letter-spacing;
		font-size: 14px;
		line-height: 21px;
	}
	.card-foot {
		border-top: 1px solid $neutral-40;
		padding: 16px;
		color: $neutral-80;
		font-size: 14x;
		line-height: 21px;
	}
	.price-box {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
	}
	.price {
		padding-right: 0;
		color: $pimary-100;
	}
	.teacher {
		margin: auto 0;
	}
	.tag {
		font-weight: 400;
		letter-spacing: $letter-spacing;
		padding: 4px 12px;
		margin-bottom: 4px;
		background: $neutral-40;
		border-radius: $border-radius-circle;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
}
.mycourselist3 .evaluatebox,
.mycourselist2 .font-icon,
.mySwiper4 .font-icon,
.mySwiper2 .font-icon {
  font-variation-settings:
    'FILL'1,
    'wght'400,
    'GRAD'0,
    'opsz'24;
  color: #F6BD2B;
}
.mycourselist3 .evaluatebox,
.mycourselist2 .evaluatebox,
.mySwiper2 .evaluatebox {
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.mycourselist3 .evaluate,
.mycourselist2 .evaluate,
.mySwiper4 .evaluate,
.mySwiper2 .evaluate {
  color: $neutral-100;
  font-weight: 500;
  margin: 0 4px;
}
.mycourselist3 .evaluate-num,
.mycourselist2 .evaluate-num,
.mySwiper4 .evaluate-num,
.mySwiper2 .evaluate-num {
  font-weight: 500;
  color: $neutral-60;
}

.mySwiper2 .card-body h6 {
  height: 40px;
  display: flex;
  align-items: center;
}

.textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: visible;
  padding-top: 100px;
  background: calc(40% - 4em) 87px / 50px no-repeat;
  @media (max-width:567px){
    text-align: left;
    background: calc(0% - 1em) 87px / 50px no-repeat;
    overflow: visible;
    margin: -16px;
    padding: 100px 16px 0;
  }
}

.section3 .container {
  overflow: visible !important;
}

.section4 {
	margin: 6em 6.6em;
	padding: 4em 9em;
	background: $pimary-100;
	border-radius: $border-radius-large;
	color: $neutral-0;
	.row {
		flex-direction: row;
    @media (max-width:1200px) {
      flex-direction: column-reverse;
    }
	}
  .col-12.col-xl-5 {
    display: flex;
    @media (max-width:1200px) {
      flex-direction: column;
    }
  }
  .card {
    background: $neutral-0;
    border-radius: $border-radius-md;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -1%;
    color: #6E7485;
    & > div {
			&:nth-child(1) {
				border-radius: 16px;
				margin-right: 16px;
				padding: 16px;
			}
			&:nth-child(2) {
				& > div {
					&:nth-child(1) {
						font-size: 16px !important;
						line-height: 24px !important;
						letter-spacing: 0 !important;
						color: #1D2026;
						font-weight: 600;
					}
				}
			}
		}
  }
  .swiper-container {
		width: 100% !important;
		height: 100% !important;
	}
	.swiper-slide {
		width: 50%;
		height: 114px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
  @media (max-width:1580px){
    margin: 6em auto;
    padding: 4em 0;
  }
  @media (max-width:1200px){
    padding: 40px 12px;
    margin: 40px 12px;
  }
  
}
.section5 {
	width: 100%;
	overflow: hidden;
	background: center / 120% no-repeat;
	.mySwiper4 {
		overflow: visible;
	}
	.card-box {
		width: 100%;
		position: relative;
		margin-bottom: 256px;
	}
	.card {
		&.card-img {
			border: none;
			height: 400px;
			border-radius: $border-radius-md;
			background: right top / contain no-repeat;
		}
		&.mycard {
			border-radius: $border-radius-md;
			padding: 24px;
			margin-right: 36px;
			position: absolute;
			top: 300px;
			display: flex;
			flex-direction: column;
			border: none;
			box-shadow: 0 25px 50px $color-swiper-shadow;
			.card-body {
				width: 100%;
				padding: 0;
				margin: 4px 0;
			}
		}
	}
	.mycard {
		.btn {
			width: 100%;
		}
	}
	.tagbox {
		font-weight: 400;
		letter-spacing: $letter-spacing;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
	}
	.tag {
		background: $neutral-40;
		padding: 4px 12px;
		border-radius: $border-radius-circle;
		margin-right: 8px;
	}
	.swiper {
		width: 100%;
		height: 100%;
	}
	.swiper-slide {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
