<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
  <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://kit.fontawesome.com/c965374eaf.js" crossorigin="anonymous"></script>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container-fluid swiper mySwiper">
      <div class="swiper-wrapper position-relative">
        <div class="swiper-slide">
          <div class="box" style="background: center / cover url(../assets/images/hero-2.png);">
            <span class="slide-subtitle"><span class="slide-little">熱銷課程 🔥</span>給成人的鋼琴入門課，一小時教你彈奏上手！</span>
            <span class="slide-title">探索感興趣的課程，今天立即上課<span class="material-symbols-outlined">arrow_forward</span></span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="box" style="background: center / cover url(../assets/images/hero-3.png);">
            <span class="slide-subtitle"><span class="slide-little">3</span> 2</span>
            <span class="slide-title">1</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="box" style="background: center / cover url(../assets/images/hero-4.png);">
            <span class="slide-subtitle"><span class="slide-little">3</span> 2</span>
            <span class="slide-title">1</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="box" style="background: center / cover url(../assets/images/hero-1.png);">
            <span class="slide-subtitle"><span class="slide-little">3</span> 2</span>
            <span class="slide-title">1</span>
          </div>
        </div>
      </div>
      <div class="swiper-next user-select-none">
        <span class="material-symbols-outlined">arrow_forward</span>
      </div>
      <div class="swiper-prev user-select-none">
        <span class="material-symbols-outlined">arrow_back</span>
      </div>
      <div class="swiper-pagination1"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: "auto",

        centeredSlides: true,
        breakpoints: {
          320: {
            spaceBetween: 0,
          },
          575: {
            spaceBetween: 30,
          },
        },
        navigation: {
          nextEl: ".swiper-next",
          prevEl: ".swiper-prev",
        },
        pagination: {
          el: ".swiper-pagination1",
          clickable: true,
        },
        loop: "infinite",
      });
    </script>
    <div class="section2">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-4">
            <h1>火熱募資課程</h1>
            <p>現在購買最優惠✨</p>
            <div class="choose-course">
              <label><input type="radio" name="Discount courses" checked><span
                  class="btn btn-primary mybtn">全部</span></label>
              <label><input type="radio" name="Discount courses"><span class="btn btn-primary mybtn">🍽️
                  烹飪料理</span></label>
              <label><input type="radio" name="Discount courses"><span class="btn btn-primary mybtn">📊
                  數據分析</span></label>
              <label><input type="radio" name="Discount courses"><span class="btn btn-primary mybtn">🎼
                  音樂製作</span></label>
              <label><input type="radio" name="Discount courses"><span class="btn btn-primary mybtn">📝
                  創意寫作</span></label>
              <label><input type="radio" name="Discount courses"><span class="btn btn-primary mybtn">💬
                  語言學習</span></label>
              <label><input type="radio" name="Discount courses"><span class="btn btn-primary mybtn">🖌️
                  藝術創作</span></label>
            </div>
            <a class="btn btn-primary more-courses" href="#">更多募資課程</a>
          </div>
          <div class="col-12 col-lg-8">
            <div class="swiper mySwiper1">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="card">
                    <div class="card-head position-relative"
                      style="background: center / cover url(../assets/images/course-4.png);">
                      <span class="count-backwards">優惠倒數 10 天</span>
                    </div>
                    <div class="card-body">
                      <h6 class="single-ellipsis">創意寫作工坊：從靈感到出版的全過程</h6>

                      <div class="teacher">
                        <img class="teacher-img" src="../assets/images/avatar-2.png" alt="">
                        <!-- <img class="teacher-img" src="../assets/images/teacher-1.png" alt=""> -->
                        <span class="teacher-name">Kelly Hsu</span>
                      </div>
                      <div class="d-flex justify-content-between">
                        <div>募資進度 81 %</div>
                        <div>已有 521 位同學加入</div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 81%" aria-valuenow="81"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="price-box">
                        <span class="price">NT$ 2,480</span><span class="original-price">NT$ 3,200</span>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="swiper-slide">
                  <div class="card">
                    <div class="card-head position-relative"
                      style="background: center / cover url(../assets/images/course-2.png);">
                      <span class="count-backwards">優惠倒數 9 天</span>
                    </div>
                    <div class="card-body">
                      <h6 class="single-ellipsis">音樂製作入門：從零開始創作你的音樂</h6>

                      <div class="teacher">
                        <img class="teacher-img" src="../assets/images/teacher-8.jpg" alt="">
                        <!-- <img class="teacher-img" src="../assets/images/teacher-1.png" alt=""> -->
                        <span class="teacher-name">K.Deeu</span>
                      </div>
                      <div class="d-flex justify-content-between">
                        <div>募資進度 76 %</div>
                        <div>已有 420 位同學加入</div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 76%" aria-valuenow="76"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="price-box">
                        <span class="price">NT$ 2,680</span><span class="original-price">NT$ 3,200</span>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="swiper-slide">
                  <div class="card">
                    <div class="card-head position-relative"
                      style="background: center / cover url(../assets/images/course-1.png);">
                      <span class="count-backwards">優惠倒數 17 天</span>
                    </div>
                    <div class="card-body">
                      <h6 class="single-ellipsis">健康廚房：營養均衡的素食料理指南</h6>

                      <div class="teacher">
                        <img class="teacher-img" src="../assets/images/teacher-9.jpg" alt="">
                        <span class="teacher-name">希姐帶你吃</span>
                      </div>
                      <div class="d-flex justify-content-between">
                        <div>募資進度 281 %</div>
                        <div>已有 1397 位同學加入</div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="281"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="price-box">
                        <span class="price">NT$ 1,680</span><span class="original-price">NT$ 2,980</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card">
                    <div class="card-head position-relative"
                      style="background: center / cover url(../assets/images/course-3.png);">
                      <span class="count-backwards">優惠倒數 1 天</span>
                    </div>
                    <div class="card-body">
                      <h6 class="single-ellipsis">掌握商業攝影：打造你的專業攝影事業</h6>
                      <div class="teacher">
                        <img class="teacher-img" src="../assets/images/teacher-10.jpg" alt="">
                        <span class="teacher-name">Mikeeee</span>
                      </div>
                      <div class="d-flex justify-content-between">
                        <div>募資進度 98 %</div>
                        <div>已有 290 位同學加入</div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 98%" aria-valuenow="98"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="price-box">
                        <span class="price">NT$ 1,980</span><span class="original-price">NT$ 3,200</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
          <script>
            var swiper = new Swiper(".mySwiper1", {

              breakpoints: {
                320: {
                  spaceBetween: 0,
                  slidesPerView: 1,
                  grid: {
                    rows: 1,
                    fill: 'row',
                  }
                },
                767: {
                  spaceBetween: 0,
                  slidesPerView: 1,
                  grid: {
                    rows: 1,
                    fill: 'row',
                  }
                },
                768: {
                  spaceBetween: 24,
                  slidesPerView: 2,
                  grid: {
                    rows: 2,
                    fill: 'row',
                  }
                },
                911: {
                  spaceBetween: 24,
                  slidesPerView: 2,
                  grid: {
                    rows: 2,
                    fill: 'row',
                  }
                },
              },
              // navigation: {
              //   nextEl: ".swiper-next",
              //   prevEl: ".swiper-prev",
              // },
              pagination: {
                el: ".swiper-pagination",
                clickable: true,
              },
              loop: "infinite",
            });
          </script>
        </div>
      </div>
    </div>
    <div class="section3" style="background:-12.5% 50% / 20% no-repeat url(../assets/images/deco/flower-3.png),
    linear-gradient(180deg, #F0F6FF, #FFFFFF);">
      <div class="container">
        <div class="textbox" style="background-image: url(../assets/images/deco/flower-1.png)">
          <h1>看看大家<br class="d-sm-none">都買了什麼</h1>
          <p>熱銷課程一次看！✨</p>
        </div>
        <div class="swiper mySwiper2">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card">
                <div class="card-head" style="background: center /cover no-repeat url(../assets/images/course-4.png);">
                  <span class="hot">限時 8 折 🔥</span>
                </div>
                <div class="card-body">
                  <h6>創意寫作工坊：從靈感到出版的全過程</h6>
                  <div class="d-flex justify-content-between">
                    <div class="teacher">
                      <img class="teacher-img" src="../assets/images/avatar-2.png" alt="">
                      <span class="teacher-name">Kelly Hsu</span>
                    </div>
                    <div class="price-box ">
                      <span class="price">NT$ 2,480</span><span class="original-price">NT$ 3,200</span>
                    </div>
                  </div>
                </div>
                <div class="card-foot d-flex justify-content-between">
                  <div class="d-flex justify-content-center align-items-start flex-column">
                    <span class="tag">中文創作</span><span>已有 420 位同學加入</span>
                  </div>
                  <div class="evaluatebox">
                    <span class="font-icon material-symbols-outlined">star</span><span class="evaluate">4.0</span><span
                      class="evaluate-num">(333)</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <div class="card-head" style="background: center /cover no-repeat url(../assets/images/course-5.png);">
                  <span class="hot">限時 8 折 🔥</span>
                </div>
                <div class="card-body">
                  <h6>小白也會！從零開始學習 Python 程式設計</h6>
                  <div class="d-flex justify-content-between">
                    <div class="teacher">
                      <img class="teacher-img" src="../assets/images/avatar-2.png" alt="">
                      <span class="teacher-name">Kelly Hsu</span>
                    </div>
                    <div class="price-box ">
                      <span class="price">NT$ 2,480</span><span class="original-price">NT$ 3,200</span>
                    </div>
                  </div>
                </div>
                <div class="card-foot d-flex justify-content-between">
                  <div class="d-flex justify-content-center align-items-start flex-column">
                    <span class="tag">程式開發</span><span>已有 420 位同學加入</span>
                  </div>
                  <div class="evaluatebox">
                    <span class="font-icon material-symbols-outlined">star</span><span class="evaluate">4.0</span><span
                      class="evaluate-num">(333)</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <div class="card-head" style="background: center /cover no-repeat url(../assets/images/course-6.png);">
                  <span class="hot">限時 8 折 🔥</span>
                </div>
                <div class="card-body">
                  <h6>全面掌握 JavaScript 開發技術</h6>
                  <div class="d-flex justify-content-between">
                    <div class="teacher">
                      <img class="teacher-img" src="../assets/images/avatar-2.png" alt="">
                      <span class="teacher-name">Kelly Hsu</span>
                    </div>
                    <div class="price-box ">
                      <span class="price">NT$ 2,480</span><span class="original-price">NT$ 3,200</span>
                    </div>
                  </div>
                </div>
                <div class="card-foot d-flex justify-content-between">
                  <div class="d-flex justify-content-center align-items-start flex-column">
                    <span class="tag">程式開發</span><span>已有 420 位同學加入</span>
                  </div>
                  <div class="evaluatebox">
                    <span class="font-icon material-symbols-outlined">star</span><span class="evaluate">4.0</span><span
                      class="evaluate-num">(333)</span>
                  </div>
                </div>
              </div>

            </div>
            <div class="swiper-slide">
              <div class="card">
                <div class="card-head" style="background: center /cover no-repeat url(../assets/images/course-7.png);">
                </div>
                <div class="card-body">
                  <h6>HTML & CSS 網頁設計基礎教程</h6>
                  <div class="d-flex justify-content-between">
                    <div class="teacher">
                      <img class="teacher-img" src="../assets/images/avatar-2.png" alt="">
                      <span class="teacher-name">Kelly Hsu</span>
                    </div>
                    <div class="price-box ">
                      <span class="price">NT$ 2,480</span><span class="original-price">NT$ 3,200</span>
                    </div>
                  </div>
                </div>
                <div class="card-foot d-flex justify-content-between">
                  <div class="d-flex justify-content-center align-items-start flex-column">
                    <span class="tag">程式開發</span><span>已有 420 位同學加入</span>
                  </div>
                  <div class="evaluatebox">
                    <span class="font-icon material-symbols-outlined">star</span><span class="evaluate">4.0</span><span
                      class="evaluate-num">(333)</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <div class="card-head" style="background: center /cover no-repeat url(../assets/images/course-8.png);">
                </div>
                <div class="card-body">
                  <h6>更進一步！深入學習 Node.js 與後端開發</h6>
                  <div class="d-flex justify-content-between">
                    <div class="teacher">
                      <img class="teacher-img" src="../assets/images/avatar-2.png" alt="">
                      <span class="teacher-name">Kelly Hsu</span>
                    </div>
                    <div class="price-box ">
                      <span class="price">NT$ 2,480</span><span class="original-price">NT$ 3,200</span>
                    </div>
                  </div>
                </div>
                <div class="card-foot d-flex justify-content-between">
                  <div class="d-flex justify-content-center align-items-start flex-column">
                    <span class="tag">程式開發</span><span>已有 420 位同學加入</span>
                  </div>
                  <div class="evaluatebox">
                    <span class="font-icon material-symbols-outlined">star</span><span class="evaluate">4.0</span><span
                      class="evaluate-num">(333)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-next2">
            <span class="material-symbols-outlined">arrow_forward</span>
          </div>
          <div class="swiper-prev2">
            <span class="material-symbols-outlined">arrow_back</span>
          </div>
        </div>

        <!-- Swiper JS -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

        <!-- Initialize Swiper -->
        <script>
          var swiper = new Swiper(".mySwiper2", {
            slidesPerView: 1,
            spaceBetween: 10,
            breakpoints: {
              768: {
                slidesPerView: 2,
                spaceBetween: 40,
              },
              991: {
                slidesPerView: 3,
                spaceBetween: 40,
              },
              1400: {
                navigation: {
                  nextEl: ".swiper-next2",
                  prevEl: ".swiper-prev2",
                },
                slidesPerView: 4,
                spaceBetween: 40,
              }
            },
          });
        </script>
      </div>
    </div>
    <div class="section4">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-12 col-xl-6">
            <div class="swiper mySwiper3">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="card">
                    <div style="background-color: #FF994F;"><img class="img-fluid"
                        src="../assets/images/icons/megaphoneSimple.png" alt=""></div>
                    <div class="d-flex flex-column justify-content-between">
                      <div>網路行銷</div>
                      <div>342 門課程</div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card">
                    <div style="background-color: #5E5E5E;"><img class="img-fluid"
                        src="../assets/images/icons/camera.png" alt=""></div>
                    <div class="d-flex flex-column justify-content-between">
                      <div>拍攝剪輯</div>
                      <div>563 門課程</div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card">
                    <div style="background-color: #FF9BAD;"><img class="img-fluid"
                        src="../assets/images/icons/chartBarHorizontal.png" alt=""></div>
                    <div class="d-flex flex-column justify-content-between">
                      <div>自我成長</div>
                      <div>490 門課程</div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card">
                    <div style="background-color: #564FFD;"><img class="img-fluid"
                        src="../assets/images/icons/penNib.png" alt=""></div>
                    <div class="d-flex flex-column justify-content-between">
                      <div>藝術設計</div>
                      <div>230 門課程</div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card">
                    <div style="background-color: #54DFF2;"><img class="img-fluid"
                        src="../assets/images/icons/bugDroid.png" alt=""></div>
                    <div class="d-flex flex-column justify-content-between">
                      <div>數據分析</div>
                      <div>395 門課程</div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card">
                    <div style="background-color: #52E9BC;"><img class="img-fluid"
                        src="../assets/images/icons/creditCard.png" alt=""></div>
                    <div class="d-flex flex-column justify-content-between">
                      <div>投資理財</div>
                      <div>486 門課程</div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card">
                    <div style="background-color: #CF93FF;"><img class="img-fluid"
                        src="../assets/images/icons/headphones.png" alt=""></div>
                    <div class="d-flex flex-column justify-content-between">
                      <div>音樂創作</div>
                      <div>283 門課程</div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card">
                    <div style="background-color: #0068FF;padding: 20px;"><img class="img-fluid"
                        src="../assets/images/icons/arrow.png" alt=""></div>
                    <div class="d-flex flex-column justify-content-center">
                      <div>探索更多</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
          <script>
            var swiper = new Swiper(".mySwiper3", {

              slidesPerView: 1,
              grid: {
                rows: 2,
                fill: 'row',
              },
              spaceBetween: 30,
              breakpoints: {
                567: {
                  slidesPerView: 2,
                  grid: {
                    rows: 2,
                    fill: 'row',
                  },
                },
                768: {
                  slidesPerView: 2,
                  grid: {
                    rows: 4,
                    fill: 'row',
                  },
                },
              },
            });
          </script>
          <div class="col-12 col-xl-5" style="margin-bottom: 16px;">
            <div><img src="../assets/images/deco/polygon-1.png" alt=""></div>
            <div>
              <h1>想學什麼嗎？<br>一探究竟。</h1>
              <img class="img-fluid" src="../assets/images/deco/line-2.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section5" style="background-image: url(../assets/images/deco/line-1.png);">
      <div class="container">
        <div class="textbox" style="background-image: url(../assets/images/deco/flower-1.png)">
          <h1>頂尖講師<br class="d-sm-none">帶你飛</h1>
          <p>超真實學員評價，這些講師你絕對不能錯過！</p><br>
        </div>
        <div class="swiper mySwiper4">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card-box">
                <div class="card card-img" style="background-image: url(../assets/images/teacher-3.png);"></div>
                <div class="card mycard">
                  <div class="card-body">
                    <h6>Mr. Robert </h6>
                  </div>
                  <div class="card-body">
                    <div class="tagbox">
                      <span class="tag">音樂創作</span><span class="font-icon material-symbols-outlined">star</span><span
                        class="evaluate">4.0</span><span class="evaluate-num">(333)</span>
                    </div>
                    <p>Robert 的線上課程深受學生喜愛。他的教學方法生動有趣，能夠深入淺出地講解複雜的音樂理論，並結合實際演奏技巧，使學生能夠快速進步。</p>
                  </div>
                  <div class="card-body">
                    <a href="#" class="btn btn-primary">探索 Mr. Robert 的教學課程</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card-box">
                <div class="card card-img" style="background-image: url(../assets/images/teacher-1.png);"></div>
                <div class="card mycard">
                  <div class="card-body">
                    <h6>Kelly Beck</h6>
                  </div>
                  <div class="card-body">
                    <div class="tagbox">
                      <span class="tag">英文寫作</span><span class="font-icon material-symbols-outlined">star</span><span
                        class="evaluate">4.8</span><span class="evaluate-num">(281)</span>
                    </div>
                    <p>Kelly 的教學方式靈活且富有創意，能夠有效提升學生的寫作技巧和自信心。Kelly 注重實用性，針對學生的需求量身打造教學內容，並提供具體的反饋和建議。</p>
                  </div>
                  <div class="card-body">
                    <a href="#" class="btn btn-primary">探索 Kelly Beck 的教學課程</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card-box">
                <div class="card card-img" style="background-image: url(../assets/images/teacher-2.png);"></div>
                <div class="card mycard">
                  <div class="card-body">
                    <h6>K. Lee</h6>
                  </div>
                  <div class="card-body">
                    <div class="tagbox">
                      <span class="tag">音樂創作</span><span class="font-icon material-symbols-outlined">star</span><span
                        class="evaluate">4.8</span><span class="evaluate-num">(1,245)</span>
                    </div>
                    <p>K. Lee 的教學風格親切且耐心，能夠循序漸進地引導學生進入樂團的世界。學生們紛紛表示，K. Lee 的課程讓他們對音樂產生了濃厚的興趣！</p>
                  </div>
                  <div class="card-body">
                    <a href="#" class="btn btn-primary">探索 K. Lee 的教學課程</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="swiper-pagination"></div> -->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

        <!-- Initialize Swiper -->
        <script>
          var swiper = new Swiper(".mySwiper4", {
            spaceBetween: 40,
            breakpoints:{
              575: {
              slidesPerView: 1,

            },
            991: {
              slidesPerView: 2,
            },
            1200:{
              slidesPerView: 3,
            },
            },
            grabCursor: true,
            // pagination: {
            //   el: ".swiper-pagination",
            //   clickable: true,
            // },
          });
        </script>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>